#toggler {
  position: absolute;
  z-index: 9999;
  border: 1px solid white;
  font-size: .5em;

}

#toggler legend {
  /* width: auto; */
  margin-left: auto;
  margin-right: auto;
}

#toggler label {
  font-size: 1.5em;
  cursor: pointer;
}

#toggler input {
  cursor: pointer;
}




.slide-toggler {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  cursor: pointer;
}

.slide-toggler:hover {
  background-color: white;
}
